h3
	font-style: italic
	font-size: 22px
	margin-bottom: 20px

.col-3
	width: 37%
	float: left
	text-align: right

	&:last-child
		text-align: left
		

.icon-user-circle-o
	font-size: 182px
	color: #424242
	width: 20%
	float: left
	padding: 0 20px
