header
  height: 650px
  background: url('img/header-bg.png') no-repeat center center
  background-size: cover

nav
  float: right
  li
    display: inline-block
    a
      color: #ffffff
      text-decoration: none
      display: block
      padding: 0 15px 15px
      &.active, &:hover
        border-bottom: 2px solid #ffffff