#skills
	table
		width: 100%
		tr
			td
				width: 50%
				padding: 13px 45px
				vertical-align: middle
				&:first-child
					text-align: right
					font-size: 30px
					line-height: 30px
					
	ul
		li
			display: inline-block
			width: 20px
			height: 20px
			background: grey
			border-radius: 20px
			margin-right: 10px
			&.active
				background: black


